<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>

  <body class="<%= data.layout %> <%= data.page_class %>">

    <wa-page class="wa-system" view="mobile" navigation-placement="start" disable-navigation-toggle="" style="--header-height: 75px; --subheader-height: 0px; --banner-height: 0px; --footer-height: 0px;"><div id="main-content" slot="skip-to-content-target"></div>

      <header slot="header">
        <%= link_to "/", style: "color: inherit; text-decoration: none;" do %>
          <div class="wa-cluster">
            <image src="/images/merck_logo.png" alt="Merck Logo" width="75" />
            <span class="wa-heading-2xl">EUA-NEXT</span>
          </div>
        <% end %>
      </header>

      <nav slot="navigation">
        <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>
      </nav>

      <main>
        <%= yield %>
      </main>

      <footer slot="footer">
        <%= render "footer", metadata: site.metadata %>
      </footer>

    </wa-page>

  </body>
</html>
