<div class="wa-stack wa-gap-3xs" style="max-width: 80ch; margin: auto">
  <% milestones.sort_by { |m| m.data.sort_order }.each do |m| %>
    <wa-tooltip for="<%= m.data.event %>" placement="top"><%= "EUA.size ~= #{m.data.group_size}" %></wa-tooltip>
    <article class="wa-flank" style="flex-wrap: nowrap">
      <wa-avatar style="--size: 2rem">
        <wa-icon slot="icon" name="<%= m.data.icon %>"></wa-icon>
      </wa-avatar>
      <div class="wa-flank:end wa-gap-xs">
        <span id="<%= m.data.event %>"><%= m.data.event %></span>
        <wa-format-date date="<%= m.data.date %>" month="long" year="numeric"></wa-format-date>
      </div>
    </article>
    <% if m != milestones.last %>
      <wa-divider></wa-divider>
    <% end %>
  <% end %>
</div>
